<div class="header">
    <img src="../../assets/image/logo.png">
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
    </ul>
    <div></div>
    <div class="login-signup-action-container">
        <div class="signIn"> <span class="sign-hover" routerLink="/login">SignIn</span>
            <span class="register" routerLink="/register">Register</span>
        </div>
        <div class="shopping-cart" class="cursor-pt" (click)="onClickEmptyCart()">
            <i class="fa fa-shopping-cart shopping-cart-color shopping-cart-font " aria-hidden="true" ></i>
            <span class="items-pd">0 items</span>
        </div>
    </div>
</div>
<div class="modal" *ngIf="showCart">
    <app-empty-cart (onClose)="onClose()"></app-empty-cart>
</div>