<div class="empty-cart-main-container ps-relt">
    <div class="col-12 d-flex header justifySpaceBetween ps-relt">
        <div>My Cart</div>
        <div (click)="onClosePopUp()" class="cursor-pt">X</div>
    </div>

    <div class="body-container d-flex pst-absolute d-flex-dir-col align_center">
        <div  class="no-items-cart">No items in your cart</div>
        <div  class="no-items-cart-details">Your favourite items are just a click away</div>
    </div>

    <div  class="start-shopping">Start Shopping</div>
</div>