<div class="register-main-container">
    <div class="d-flex justifyCenter">
        <div class="d-flex d-flex-dir-col register-container-mr">
            <div class="sing-up">Login</div>
            <div class="heading">Get access to your Orders , Wishlist and Recommendations</div>
        </div>
        <div class="register-container-body">
            <input type="text" placeholder="Username" class="fullName">
            <input type="text" placeholder="Password" class="lastName">
            <div class="sign-up-button">Login</div>
        </div>
    </div>
</div>