$color-primary: #bf2957;
$color-light-grey: #3f3f3f;
$color-white: #fff;

.home-container-padding {
    padding: 0px 100px;
}

.home-container {
    background-color: $color-white;
    width: 100%;
}

.home-container-body-content {
  background-color: #ffffff;
  width: 100%;
}

.offer-image {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.category-img-odd {
  height: 240px;
        width: 300px;
        padding: 20px 0px 0px 0px;
}

.category-img-even {
  height: 240px;
        width: 300px;
        padding: 20px 0px 0px 300px;
}

.home-container img {
    object-fit: cover;
        height: auto;
        width: 100%;
}

  .offer-container {
    padding: 95px 150px 0px 0px;
    display: flex;
    flex-direction: column;  
  }
  
  .offer-container > div {
    width: 279px;
    margin: 10px;
    text-align: center;
    font-size: 17px;
  }  

  .fruit-vegetable {
    font-size: 22px;
    font-weight: bold;
  }

  .variety-fruit-veg {
    color: $color-light-grey;
  }

  .explore-fruit-veg {
    background-color: $color-primary;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: $color-white;
    margin: 0px 25px 0px 25px;
    border-radius: 4px;cursor: pointer;
  }

  .bakery-cakes-dairy {
    font-size: 22px;
    font-weight: bold;
  }

  .bakery-cakes-dairy-desc-color {
    color: $color-light-grey;
  }

  .explore-backery-cakes-dairy {
    background-color: $color-primary;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: $color-white;
    margin: 0px 25px 0px 25px;
    border-radius: 4px;cursor: pointer;
  }

  .beverages {
    font-size: 22px;
    font-weight: bold;
  }

  .beverages-desc {
    color: $color-light-grey;
  }

  .explore-beverages {
    background-color: $color-primary;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: $color-white;
    margin: 0px 25px 0px 25px;
    border-radius: 4px;cursor: pointer;
  }

  .beauty-hygiene{
    font-size: 22px;
    font-weight: bold;
  } 

  .beauty-hygiene-desc {
    color: $color-light-grey;
  }

  .explore-beauty-hygiene {
    background-color: $color-primary;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: $color-white;
    margin: 0px 25px 0px 25px;
    border-radius: 4px;cursor: pointer;
  }

  .baby-care {
    font-size: 22px;
    font-weight: bold;
  }

  .shop-online {
    color: $color-light-grey;
  }

  .explore-baby {
    background-color: $color-primary;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: $color-white;
    margin: 0px 25px 0px 25px;
    border-radius: 4px;
    cursor: pointer;
  }