<div class="row col-12 m0 home-container-padding">
    <div class="home-container-body-content">
        <img src="../../assets/image/offer5.jpg" class="offer-image">
        <div *ngFor="let category of categoriesList; let i = index">
            <div class="d-flex justifySpaceBetween" *ngIf="i%2 != 0">
                <img src="{{category.imageUrl}}" class="category-img-odd">
                <img>
                <div class="offer-container">
                    <div class="fruit-vegetable">
                        {{category.name}}
                    </div>
                    <div class="variety-fruit-veg"> {{category.description}}</div>
                    <span class="explore-fruit-veg" routerLink="/base/app-items-list/:{{category.id}}"> Explore
                        {{category.name}}</span>
                </div>
            </div>
            <div class="d-flex justifySpaceBetween" *ngIf="i%2 == 0">
                <div class="offer-container">
                    <div class="bakery-cakes-dairy"> {{category.name}}</div>
                    <div class="bakery-cakes-dairy-desc-color"> {{category.description}}</div>
                    <span class="explore-backery-cakes-dairy" routerLink="/base/app-items-list/:{{category.id}}">
                        Explore {{category.name}}</span>
                </div>
                <img src="{{category.imageUrl}}"  class="category-img-even">
                <img>
            </div>
        </div>
    </div>
</div>